<html
	class="js flexbox canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js-menubar"
	style="" lang="zh-cn">
<head>
<title>主页</title>
<meta charset="utf-8">
<meta name="keywords"
	content="admui,admui官网,admui下载,admui框架,通用后台管理系统,后台框架,ui框架">
<meta name="description"
	content="Admui在线演示系统，Admui是一个基于最新Web技术的企业级通用管理系统快速开发框架，可以帮助企业极大的提高工作效率，节省开发成本，提升品牌形象。">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 移动设备 viewport -->
<meta name="viewport"
	content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="author" content="admui.com">
<!-- 360浏览器默认使用Webkit内核 -->
<meta name="renderer" content="webkit">
<!-- 禁止百度SiteAPP转码 -->
<meta http-equiv="Cache-Control" content="no-siteapp">
<!-- Chrome浏览器添加桌面快捷方式（安卓） -->
<link rel="icon" type="image/png"
	href="${base}/public/images/favicon.png">
<meta name="mobile-web-app-capable" content="yes">
<!-- Safari浏览器添加到主屏幕（IOS） -->
<link rel="icon" sizes="192x192"
	href="${base}/public/images/apple-touch-icon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Admui">
<!-- Win8标题栏及ICON图标 -->
<link rel="apple-touch-icon-precomposed"
	href="${base}/public/images/apple-touch-icon.png">
<meta name="msapplication-TileImage"
	content="${base}/public/images/app-icon72x72@2x.png">
<meta name="msapplication-TileColor" content="#62a8ea">
<!-- 样式 -->
<link rel="stylesheet"
	href="${base}/public/themes/classic/base/css/site.css" id="siteStyle">
<!-- 图标 CSS-->
<link rel="stylesheet"
	href="${base}/public/plug/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet"
	href="${base}/public/fonts/web-icons/web-icons.css">

<!-- 插件 CSS -->
<link rel="stylesheet"
	href="${base}/public/plug/animsition/animsition.css">
<link rel="stylesheet" href="${base}/public/plug/toastr/toastr.css">
<link rel="stylesheet" href="${base}/public/css/demo.css">

<!-- 插件 -->
<script
	src="https://hm.baidu.com/hm.js?c9dd85291ea88dcf64671a7dfa65e0ef"></script>
<script src="${base}/public/plug/jquery/jquery.min.js"></script>
<style id="zoomLevel-styles"></style>
<script src="${base}/public/plug/bootstrap/bootstrap.min.js"></script>
<script src="${base}/public/plug/modernizr/modernizr.min.js"></script>
<script src="${base}/public/plug/breakpoints/breakpoints.min.js"></script>
<script src="${base}/public/plug/artTemplate/template.min.js"></script>
<script src="${base}/public/plug/toastr/toastr.min.js"></script>
<script src="${base}/public/plug/bootbox/bootbox.min.js"></script>

<!-- 核心  -->
<script src="${base}/public/themes/classic/global/js/core.js"></script>
<script src="${base}/public/themes/classic/base/js/site.js"></script>
<script
	src="${base}/public/themes/classic/global/js/configs/site-configs.js"></script>
<script src="${base}/public/themes/classic/global/js/components.js"></script>

<script>
        Breakpoints();
    </script>
</head>

<body class="site-contabs-open site-menubar-unfold">

	<nav
		class="site-navbar navbar navbar-default navbar-fixed-top navbar-inverse "
		role="navigation">
		<div class="navbar-header">
			<button type="button"
				class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided unfolded"
				data-toggle="menubar">
				<span class="sr-only">切换菜单</span> <span class="hamburger-bar"></span>
			</button>
			<button type="button" class="navbar-toggle collapsed"
				data-target="#admui-navbarCollapse" data-toggle="collapse">
				<i class="fa fa-more-horizontal" aria-hidden="true"></i>
			</button>
			<div class="navbar-brand navbar-brand-center site-gridmenu-toggle"
				data-toggle="gridmenu">
				<img class="navbar-brand-logo visible-lg visible-xs navbar-logo"
					src="${base}/public/images/logo-white.svg" title="Admui"> <img
					class="navbar-brand-logo hidden-xs hidden-lg navbar-logo-mini"
					src="http://admui.oss-cn-shenzhen.aliyuncs.com/demo/1.1.0/images/logo-white-min.svg" title="Admui">
			</div>
		</div>
		<div class="navbar-container container-fluid">
			<div class="collapse navbar-collapse navbar-collapse-toolbar"
				id="admui-navbarCollapse">
				<ul class="nav navbar-toolbar navbar-left">
					<li class="hidden-float"><a data-toggle="menubar"
						class="hidden-float hided unfolded vdropdown" href="javascript:;"
						role="button" id="admui-toggleMenubar"> <i
							class="icon hamburger hamburger-arrow-left"> <span
								class="sr-only">切换目录</span> <span class="hamburger-bar"></span>
						</i>
					</a></li>
					<li class="navbar-menu nav-tabs-horizontal nav-tabs-animate"	id="admui-navMenu">
						<ul class="nav navbar-toolbar nav-tabs" role="tablist" style="margin-top: 0px;padding-top:0px;">
							<!-- 顶部菜单 -->
							<#list user.menuLevel1 as p> 								
								<li role="presentation"  class="<#if p.functionId=="01">active</#if>" >
								<a data-toggle="tab" href="#admui-navTabsItem-${p.functionId!}"
									aria-controls="admui-navTabsItem-${p.functionId!}" role="tab"
									aria-expanded="false"> <i class="${p.icon!}"></i> <span>${p.functionDisplayName!}</span>
								</a>
								</li>						
							</#list>
									 					
							<li class="dropdown" id="admui-navbarSubMenu" >
								<a
									class="dropdown-toggle vdropdown"  data-toggle="dropdown" href="#"
									data-animation="slide-bottom" aria-expanded="true" role="button">
										<i class="fa fa-ellipsis-v"></i>
								</a>
								<ul class="dropdown-menu" role="menu">						
							
<!-- 							<#list user.menuLevel1?sort_by("functionId") as m>
								<#if m_index gt 5>  
								<li role="no-menu" class="presentation" >
									<a data-toggle="tab" href="#admui-navTabsItem-${m.functionId!}"
									aria-controls="admui-navTabsItem-${m.functionId!}" role="tab"
									aria-expanded="false"> <i class="fa fa-cog"></i> <span>${m.functionDisplayName!}</span>
								</a>										
								</li>
								</#if>
							</#list> -->

 									<li class="no-menu" role="presentation"><a href="/sitemap"
										target="_blank" role="menuitem" data-pjax=""> <i
											class="fa fa-sitemap"></i><span>网站地图</span>
									</a></li>
									<li class="no-menu" role="presentation"><a
										href="/system/menu.jsp" target="_blank" role="menuitem"
										data-pjax=""> <i class="fa fa-wrench"></i><span>菜单管理</span>
									</a>
									</li>							
								</ul>
							</li>
						</ul>							
					</li>
				</ul>
				<ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
					<li class="dropdown" id="admui-navbarMessage"><a
						data-toggle="dropdown" href="javascript:;" class="msg-btn"
						aria-expanded="false" data-animation="scale-up" role="button">
							<i class="fa fa-bell" aria-hidden="true"></i> <span
							class="badge badge-danger up msg-num">99+</span>
					</a>
						<ul class="dropdown-menu dropdown-menu-right dropdown-menu-media"
							role="menu">
							<li class="dropdown-menu-header" role="presentation">
								<h5>最新消息</h5> <span class="label label-round label-danger"></span>
							</li>
							<li class="list-group" role="presentation">
								<div class="slimScrollDiv"
									style="position: relative; overflow: hidden; width: auto; height: 220px;">
									<div class="navbar-message-content" id="admui-messageContent"
										data-height="220px" data-plugin="slimScroll"
										style="overflow: hidden; width: auto; height: 220px;"></div>
									<div class="slimScrollBar"
										style="background: rgb(118, 131, 143) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 4px; z-index: 99; right: 1px;"></div>
									<div class="slimScrollRail"
										style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 4px; background: rgb(204, 213, 219) none repeat scroll 0% 0%; opacity: 0.1; z-index: 90; right: 1px;"></div>
								</div> <script type="text/html" id="admui-messageTpl">
										{{if msgList.length &lt; 1}}
										&lt;p class="text-center height-200 vertical-align"&gt;
	                                		&lt;small class="vertical-align-middle opacity-four"&gt;没有新消息&lt;/small&gt;
	                            		&lt;/p&gt;
										{{else}}
                                        {{each msgList}}
                                        &lt;a class="list-group-item" href="#"  data-message-id="{{$value.messageId}}" data-title="{{$value.title}}" data-content="{{$value.content}}" role="menuitem"&gt;
                                            &lt;div class="media"&gt;
                                                &lt;div class="media-left padding-right-10"&gt;
                                                    &lt;i class="icon {{$value.type | iconType}} white icon-circle" aria-hidden="true"&gt;&lt;/i&gt;
                                                &lt;/div&gt;
                                                &lt;div class="media-body"&gt;
                                                    &lt;h6 class="media-heading"&gt;{{$value.title}}&lt;/h6&gt;
                                                    &lt;time class="media-meta" datetime="{{$value.sendTime}}"&gt;
                                                        {{$value.sendTime | timeMsg}}
                                                    &lt;/time&gt;
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/a&gt;{{/each}}
										{{/if}}
                                 </script>
							</li>
							<li class="dropdown-menu-footer" role="presentation"><a
								href="${base}/system/account/message.jsp" target="_blank" data-pjax="">
									<i class="fa fa-navicon"></i> 所有消息
							</a></li>
						</ul></li>
					<li class="hidden-xs" id="admui-navbarDisplay"
						data-toggle="tooltip" data-placement="bottom" title=""
						data-original-title="设置主题与布局等"><a class="fa fa-list-alt"
						href="${base}/system/settings/display.jsp" target="_blank" data-pjax="">
							<span class="sr-only">主题与布局</span>
					</a></li>
					<li class="hidden-xs" id="admui-QRcode" data-toggle="tooltip"
						data-placement="bottom" title="" data-original-title="在手机上预览本页">
						<a class="fa fa-mobile" href="#" data-toggle="modal"
						data-target="#admui-mobileView"> <span class="sr-only">在手机上预览</span></a>
					</li>
					<li class="hidden-xs" id="admui-demo-app" data-toggle="tooltip"
						data-placement="bottom" title="" data-original-title="下载桌面版">
						<a class="fa fa-download dropdown-toggle" href="#"
						data-toggle="dropdown" aria-expanded="false" role="button"> <span
							class="sr-only">下载桌面版</span></a>
						<ul
							class="dropdown-menu dropdown-menu-success bullet dropdown-menu-right"
							aria-labelledby="demoApp" role="menu">
							<li role="presentation"><a
								href="http://dl.admui.com/app/win/admui-demo.zip"
								role="menuitem"><i class="fa fa-windows"></i> Windows 版</a></li>
							<li role="presentation"><a
								href="http://dl.admui.com/app/mac/admui-demo.zip"
								role="menuitem"><i class="fa fa-apple"></i> MacOS 版</a></li>
						</ul>
					</li>
					<li class="open-kf" id="admui-service" data-toggle="tooltip"
						data-placement="bottom" title="" data-original-title="在线咨询">
						<a class="fa fa-user" href="#" role="button"> <span
							class="sr-only">在线咨询</span></a>
					</li>
					<li class="hidden-xs" id="admui-navbarFullscreen"
						data-toggle="tooltip" data-placement="bottom" title=""
						data-original-title="全屏"><a class="fa fa-window-maximize"
						data-toggle="fullscreen" href="#" role="button"> <span
							class="sr-only">全屏</span>
					</a></li>
					<li><a class="fa fa-sign-out" id="admui-signOut" data-ctx=""
						data-user="9" href="${base}/logout.jspx" role="button"> <span
							class="sr-only">退出</span>
					</a></li>

				</ul>
			</div>
		</div>
	</nav>
	<nav class="site-menubar site-menubar-dark">
		<div class="site-menubar-body">
			<div class="slimScrollDiv"
				style="position: relative; overflow: hidden; width: auto; height: 100%;">
				<div class="tab-content height-full" id="admui-navTabs"
					style="overflow: hidden; width: auto; height: 100%;">
					<!-- 一级菜单 -->
				<#list user.menuLevel1 as p>		
				<#if p.level==1>			
					<div class="tab-pane animation-fade height-full <#if p.functionId=="01"> active </#if>"	id="admui-navTabsItem-${p.functionId}" role="tabpanel">
						<div>
							<ul class="site-menu">
								<!-- 二级菜单 -->
								<li class="site-menu-category">${p.functionDisplayName!}</li>
								<!-- 三级菜单 -->
								<#list user.menus as s>
								<#if s.parentId==p.functionId>
									<li class="site-menu-item has-sub">
									<a href="javascript:;">
										<i class="site-menu-icon fa fa-laptop" aria-hidden="true"></i>
										<span class="site-menu-title">${s.functionDisplayName!}</span>
										<span class="site-menu-arrow fa fa-chevron-right"></span>
									</a>
									<ul class="site-menu-sub">
									<#list user.menus as level3>
									<#if level3.parentId==s.functionId>
									 		
												<!-- 四级菜单 -->
												<li class="site-menu-item">
													<a data-pjax="" href="/easymis/${level3.functionUrl}" target="_blank" > 
														<span class="site-menu-title">${level3.functionDisplayName!}</span>
														<!-- <span class="site-menu-arrow fa fa-chevron-right"></span> -->
													</a>
													<!-- <ul class="site-menu-sub">
														五级菜单
		
														<li class="site-menu-item "><a data-pjax=""
															href="${base}/components/layouts/grids.jsp" target="_blank"> <span
																class="site-menu-title">基本栅格</span>
														</a></li>
		
														<li class="site-menu-item "><a data-pjax=""
															href="${base}/components/layouts/layout-grid.jsp" target="_blank">
																<span class="site-menu-title">布局栅格</span>
														</a></li>
		
														五级菜单
													</ul> -->
													</li>		
		
											
											</#if>		
											</#list>
											</ul>
									</li>
								</#if>		
								</#list>
						</ul>
						</div>
					</div>
					</#if>
				</#list>
					

				

					

				

				

					<!-- 一级菜单 -->
				</div>
				<div class="slimScrollBar"
					style="background: rgb(118, 131, 143) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 4px; z-index: 99; right: 1px; height: 715px;"></div>
				<div class="slimScrollRail"
					style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 4px; background: rgb(204, 213, 219) none repeat scroll 0% 0%; opacity: 0.1; z-index: 90; right: 1px;"></div>
			</div>
		</div>
	</nav>
	<nav class="site-contabs" id="admui-siteConTabs">
		<button type="button" class="btn btn-icon btn-default pull-left hide">
			<i class="fa fa-angle-double-left"></i>
		</button>
		<div class="contabs-scroll pull-left">
			<ul class="nav con-tabs">
				<li class="active"><a data-pjax="" href="${base}/oa/index.jsp" rel="contents"><span>首页</span></a>
				</li>
			</ul>
		</div>
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-icon btn-default hide">
				<i class="fa fa-angle-double-right"></i>
			</button>
			<button type="button"
				class="btn btn-default dropdown-toggle btn-outline"
				data-toggle="dropdown" aria-expanded="false">
				<span class="caret"></span> <span class="sr-only">切换菜单</span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right"
				aria-labelledby="conTabsDropdown" role="menu">
				<li class="reload-page" role="presentation"><a
					href="javascript:;" role="menuitem"><i class="fa fa-refresh"></i>
						刷新当前</a></li>
				<li class="close-other" role="presentation"><a
					href="javascript:;" role="menuitem"><i class="fa fa-close"></i>
						关闭其他</a></li>
				<li class="close-all" role="presentation"><a
					href="javascript:;" role="menuitem"><i class="fa fa-power-off"></i>
						关闭所有</a></li>
			</ul>
		</div>
	</nav>

	<main class="site-page">
	<div class="page-container" id="admui-pageContent">











		<link rel="stylesheet" href="${base}/public/fonts/themify/themify.css">
		<link rel="stylesheet" href="${base}/public/css/home.css">

		<div class="page animation-fade page-index">
			<div class="page-content">
				<div class="media account-info">
					<div class="media-left">
						<div class="avatar avatar-online">
							<img src="${base}/public/images/avatar.svg" alt="xiaxuan@admui_demo" class="fa fa-user-secret">
							<i class="avatar avatar-busy"></i>
						</div>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							欢迎您，xiaxuan@admui_demo <small> 系统管理员 </small>
						</h4>
						<p>
							<i class="icon icon-color wb-bell" aria-hidden="true"></i> 这是您第
							40048 次登录，上次登录日期：2017-7-26 11:35:19，详细信息请查看 <a data-pjax=""
								href="${base}/system/account/log.jsp" target="_blank">日志</a> ，如果不是您本人登录，请及时 <a
								data-pjax="" href="${base}/system/account/password.jsp" target="_blank">修改密码</a> 。
						</p>
					</div>
					<div class="media-right">
						<a href="${base}/system/account.jsp" data-pjax="" target="_blank"
							class="btn btn-outline btn-success btn-outline btn-sm">账户管理</a>
					</div>
				</div>

				<div class="alert dark alert-icon alert-success alert-dismissible"
					role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="关闭">
						<span aria-hidden="true">×</span>
					</button>
					<i class="fa fa-bell" aria-hidden="true"></i> Admui中使用了大量成熟的、常用的<a
						target="_blank" class="alert-link"
						href="http://docs.admui.com/ui/plugins.html">第三方插件</a>，为了方便广大开发者，我们正在逐步翻译和整理这些插件的文档，如果您有兴趣，请随时关注
					<a target="_blank" class="alert-link" href="http://bsify.admui.com">BSify</a>，如果您有更好的建议或者是想贡献文档，请发送邮件至：<a
						target="_blank" class="alert-link" href="mailto:team@admui.com">team@admui.com</a>。
					<p class="margin-top-10 margin-bottom-5">
						<a class="btn btn-sm btn-danger btn-inverse btn-outline"
							href="http://bsify.admui.com" target="_blank">访问BSify</a>
					</p>
				</div>

				<div class="row margin-top-10" data-plugin="matchHeight"
					data-by-row="true">
					<div class="col-md-7" style="height: 462px;">
						<div class="panel introduce-info">
							<div class="panel-heading">
								<ul class="panel-actions">
									<li><a href="http://docs.admui.com/" target="_blank">更多</a>
									</li>
								</ul>
								<h1 class="panel-title">基本介绍</h1>
							</div>
							<div class="panel-body">
								<div class="media">
									<div class="media-left">
										<a href="javascript:;"> <img class="media-object"
											src="/public/images/admui-desktop.svg" alt="...">
										</a>

									</div>
									<div class="media-body">
										<h3 class="media-heading">Admui 通用管理系统快速开发框架</h3>
										<ul class="list-group list-group-full">
											<li class="list-group-item">Admui 是一个基于最新 Web
												技术的企业级通用管理系统快速开发框架，可以帮助企业极大的提高工作效率，节省开发成本，提升品牌形象。</li>
											<li class="list-group-item">您可以 Admui
												为基础，快速开发各种MIS系统，如CMS、OA、CRM、ERP、POS等。</li>
											<li class="list-group-item">Admui
												紧贴业务特性，涵盖了大量的常用组件和基础功能，最大程度上帮助企业节省时间成本和费用开支。</li>
										</ul>

										<div>
											<a href="http://www.admui.com/"
												class="btn btn-success btn-sm btn-outline btn-round"
												target="_blank"> 返回官网 </a> <a href="#"
												class="btn btn-warning btn-sm btn-outline btn-round"
												data-toggle="modal" data-target="#admui-mobileView">
												手机体验 </a> <a href="#"
												class="btn btn-primary btn-sm btn-outline btn-round open-kf"
												data-toggle="modal"> 咨询客服 </a> <a
												href="http://docs.admui.com/"
												class="btn btn-danger btn-sm btn-outline btn-round"
												target="_blank"> 开发文档 </a> <a
												href="http://www.admui.com/about.html"
												class="btn btn-dark btn-sm btn-outline btn-round"
												target="_blank"> 服务协议 </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-5" style="height: 462px;">
						<div class="panel changelog-info">
							<div class="panel-heading">
								<ul class="panel-actions">
									<li><a href="http://docs.admui.com/version"
										target="_blank">更多</a></li>
								</ul>
								<h1 class="panel-title">版本信息</h1>
							</div>
							<div class="panel-body">
								<ul class="time-line">
									<li><time datatime="2017-06-26">2017-06-26</time>
										<h5>
											<a href="http://docs.admui.com/version/v1.1.0/"
												target="_blank">Admui v1.1.0 版发布</a>
										</h5></li>
									<li><time datatime="2017-06-13">2017-06-13</time>
										<h5>
											<a href="http://docs.admui.com/version/v1.0.1/"
												target="_blank">Admui v1.0.1 维护版发布</a>
										</h5></li>
									<li><time datatime="2017-04-25">2017-04-25</time>
										<h5>
											<a href="http://docs.admui.com/version/v1.0.0/"
												target="_blank">Admui v1.0.0 正式发布</a>
										</h5></li>
									<li><time datatime="2017-03-16">2017-03-16</time>
										<h5>Admui v1.0.0 RC 正式发布</h5></li>
									<li><time datatime="2017-02-21">2017-02-21</time>
										<h5>Admui v1.0.0 Beta1 发布</h5></li>
									<li><time datatime="2016-08-27">2016-08-27</time>
										<h5>Admui v0.1.1 - v0.9.5 开发</h5></li>
									<li><time datatime="2016-07-21">2016-07-21</time>
										<h5>Admui v0.1.0 Beta 开发完成</h5></li>
									<li><time datatime="2016-05-07">2016-05-07</time>
										<h5>Admui v0.0.1 Alpha 开发完成</h5></li>
									<li><time datatime="2015-12-14">2015-12-14</time>
										<h5>Admui 正式立项</h5></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="panel">
							<div class="panel-heading">
								<ul class="panel-actions">
									<li><a href="http://www.admui.com/buy" target="_blank">现在购买</a>
									</li>
								</ul>
								<h3 class="panel-title">购买流程</h3>
							</div>
							<div class="panel-body">
								<div class="steps row steps-xs">
									<div class="step col-md-3">
										<span class="step-number">1</span>
										<div class="step-desc">
											<span class="step-title">购买</span>
											<p>选择您需要购买的组件及服务</p>
										</div>
									</div>
									<div class="step col-md-3">
										<span class="step-number">2</span>
										<div class="step-desc">
											<span class="step-title">付款</span>
											<p>在线或通过线下汇款支付费用</p>
										</div>
									</div>
									<div class="step col-md-3 done">
										<span class="step-number">3</span>
										<div class="step-desc">
											<span class="step-title">完成</span>
											<p>索取发票，开具合同、下载源码</p>
										</div>
									</div>
									<div class="step col-md-3">
										<span class="step-number">4</span>
										<div class="step-desc">
											<span class="step-title">售后</span>
											<p>工单支持、在线反馈、售后客服</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row part-info" data-plugin="matchHeight"
					data-by-row="true">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2"
						style="height: 262px;">
						<div class="panel">
							<div class="panel-body text-center">
								<i class="icon ti-layout-cta-btn-right red-500"></i>
								<p>UI 示例</p>
								<div class="label-content">
									<span class="label label-default label-round label-outline">布局</span>
									<span class="label label-default label-round label-outline">基本</span>
									<span class="label label-default label-round label-outline">进阶</span>
									<span class="label label-default label-round label-outline">组件</span>
									<span class="label label-default label-round label-outline">小工具</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2"
						style="height: 262px;">
						<div class="panel">
							<div class="panel-body text-center">
								<i class="icon ti-layout cyan-500"></i>
								<p>页面示例</p>
								<div class="label-content">
									<span class="label label-default label-round label-outline">首页</span>
									<span class="label label-default label-round label-outline">常用</span>
									<span class="label label-default label-round label-outline">团队</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2"
						style="height: 262px;">
						<div class="panel">
							<div class="panel-body text-center">
								<i class="icon ti-widgetized purple-500"></i>
								<p>表格示例</p>
								<div class="label-content">
									<span class="label label-default label-round label-outline">基本表格</span>
									<span class="label label-default label-round label-outline">树形表格</span>
									<span class="label label-default label-round label-outline">DataTable</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2"
						style="height: 262px;">
						<div class="panel">
							<div class="panel-body text-center">
								<i class="icon ti-layout-accordion-list green-500"></i>
								<p>表单示例</p>
								<div class="label-content">
									<span class="label label-default label-round label-outline">基本</span>
									<span class="label label-default label-round label-outline">质感</span>
									<span class="label label-default label-round label-outline">高级</span>
									<span class="label label-default label-round label-outline">布局</span>
									<span class="label label-default label-round label-outline">向导</span>
									<span class="label label-default label-round label-outline">验证</span>
									<span class="label label-default label-round label-outline">预设</span>
									<span class="label label-default label-round label-outline">编辑</span>
									<span class="label label-default label-round label-outline">编辑器</span>
									<span class="label label-default label-round label-outline">图片裁剪</span>
									<span class="label label-default label-round label-outline">文件上传</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2"
						style="height: 237px;">
						<div class="panel">
							<div class="panel-body text-center">
								<i class="icon ti-bar-chart-alt orange-500"></i>
								<p>图表示例</p>
								<div class="label-content">
									<span class="label label-default label-round label-outline">简单图表</span>
									<span class="label label-default label-round label-outline">ECharts</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xlg-2"
						style="height: 237px;">
						<div class="panel">
							<div class="panel-body text-center">
								<i class="icon ti-panel teal-500"></i>
								<p>系统设置</p>
								<div class="label-content">
									<span class="label label-default label-round label-outline">菜单</span>
									<span class="label label-default label-round label-outline">用户</span>
									<span class="label label-default label-round label-outline">日志</span>
									<span class="label label-default label-round label-outline">黑名单</span>
									<span class="label label-default label-round label-outline">系统</span>
									<span class="label label-default label-round label-outline">账户</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="${base}/public/plug/matchheight/jquery.matchHeight.min.js"></script>




	</div>
	<div class="page-loading vertical-align text-center">
		<div class="page-loader loader-default loader vertical-align-middle"
			data-type="default"></div>
	</div>
	</main>

	<footer class="site-footer">
		<div class="site-footer-legal">
			成都爱依客 &copy; <a href="${base}/index.jsp" target="_blank">admui.com</a>
		</div>
		<div class="site-footer-right">
			当前版本：v1.1.0 <a class="margin-left-5" data-toggle="tooltip" title=""
				href="${base}/buy.jsp" target="_blank"
				data-original-title="升级"> <i class="fa fa-cloud-upload"></i>
			</a>
		</div>
	</footer>

	<div class="modal fade" id="admui-mobileView" aria-hidden="true"
		aria-labelledby="admui-mobileView" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-sidebar modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="关闭">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title">在手机上预览本页</h4>
				</div>
				<div class="modal-body">
					<p class="thumbnail">
						<img class="img-responsive img-bordered" id="admui-mobileViewQRcode" src="">
					</p>
					<p class="margin-top-20 font-size-12">
						<i class="fa fa-bell" aria-hidden="true"></i>
						您可以用手机APP(如微信、支付宝等)的扫码功能扫码下面的二维码，在手机上查看本页显示效果。
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- 布局 -->
	<script src="${base}/public/themes/classic/base/js/sections/menu.js"></script>
	<script
		src="${base}/public/themes/classic/base/js/sections/media-menu.js"></script>
	<script
		src="${base}/public/themes/classic/base/js/sections/content-tabs.js"></script>

	<!-- 插件 -->
	<script type="text/javascript" src="${base}/public/plug/jquery-pjax/jquery.pjax.min.js" ></script>
	<script
		src="${base}/public/themes/classic/global/js/plugins/responsive-tabs.js"></script>
	<script
		src="${base}/public/plug/ashoverscroll/jquery-asHoverScroll.min.js"></script>
	<script src="${base}/public/plug/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="${base}/public/plug/screenfull/screenfull.min.js"></script>

	<!-- 客服组件 -->
	<script
		src="//assets-cdn.kf5.com/supportbox/main.js?2&amp;_=1501040170880"
		id="kf5-provide-supportBox" kf5-domain="admui.kf5.com"></script>

	<!-- 消息通知 -->
	<script src="${base}/public/js/notify-msg.js"></script>



	<iframe src="javascript:false" title="" style="display: none;"></iframe>
	<link rel="styleSheet" type="text/css"
		href="//assets-cdn.kf5.com/supportbox_v2/css/supportBtn.css?v=3">
<!-- 	<div class="kf5-support-chat kf5-chatSupport-right-bottom"
		style="position: relative; z-index: 2147483000">
		<div id="kf5-support-block" class="kf5-supportBox"
			style="display: none">
			<a id="kf5-close-btn" class="kf5-support-chat_close kf5-waves"
				href="javascript:;"></a>
			<div id="kf5-loading" class="kf5-loading kf5-loading-md kf5-center"
				style="display: none;"></div>
			<iframe id="kf5-widget-iframe" class="kf5-supportBox_iframe"
				scrolling="no"
				src="//admui.kf5.com/supportbox/index?active_in_iframe=0"
				frameborder="0"></iframe>
		</div>
		<div id="kf5-support-btn" style="color: #ffffff; background: #67B7F3;"
			class="kf5-chatSupport-btn kf5-chatSupport-style4 kf5-chatSupport-icon8 kf5-waves waves-effect waves-light">
			<span>在线客服</span>
			<div id="msg-number" class="kf5-chatSupport_msgNumber"
				style="display: none"></div>
		</div>
		<div id="kf5-backdrop" class="kf5-backdrop" style="display: none;">
			<a class="kf5-backdrop-close">关闭</a><a href="" target="_blink"><img
				id="kf5-view-image" class="kf5-backdrop-img" src=""></a>
		</div>
	</div> -->
</body>
</html>