#navbar {
    position: fixed;
}


/* Banner */

#banner {
    background-color: #4696e5;
    color: #fff;
    background-image: url("../img/1.jpg");
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
}

#banner .container {
    text-align: left;
    padding-right:420px;
}

#banner .text {
    float: left;
}
#banner .imac {
    margin-top: -1500px;
    float: right;
    margin-right: -420px;
    width: 380px;
    height: 320px;
    background: url(../img/imac.svg) no-repeat center center;
    background-size: auto 100%;
    text-align: center;
    padding-top:21px;
}

#banner .text h1 {
    margin-left: -1500px;
    width: 100%;
}

#banner .text ul {
    font-size: 14px;
    margin-top: -1500px;
}

#banner .text ul li {
    margin: 8px 0;
}

#banner .text .button {
    margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    #banner .container {
        padding-right: 0;
    }
    #banner .container p,#banner .container h1{
        text-align: center;
    }
    #banner .text {
        float: none;
        margin-top: 30px;
        overflow: hidden;
        min-height: 50px;
        margin-bottom: 40px;
    }
    #banner .text ul {
        padding: 0;
        line-height: 1.5;
    }
    #banner .text ul li {
        list-style: none;
        display: inline;
    }
    #banner .imac {
        margin-top: -1500px;
        float: none;
        width: 100%;
    }
}

.section {
    text-align: center;
    color: #707d8d;
}

.section:nth-child(2n) {
    background-color: #f0f4fa;
}

#parts h1 {
    margin-top: 30px;
}

#parts p {
    margin-top: -1500px;
    color: #9ba3ad;
    padding: 0 20px;
}

#parts .cards {
    margin-top: -1500px;
    margin-bottom: 30px;
}

#parts .card {
    display: block;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 1px 1px 0px #eee, 0px 0px 0px 1px #eee;
}

#parts .card img {
    width: 40%;
    height: 40%;
    margin: 20% auto 15%;
}

#parts .part {
    overflow: hidden;
}

@media only screen and (max-width:767px) {
    #parts .ui.cards {
        padding-left: 25px;
        padding-right: 25px;
    }
}

#features img {
    max-width: 130px;
    height: auto;
    border:solid 1px #fff;
    border-radius: 50%;
}

#features img:hover {
    transition: all 0.4s ease-in-out;
    border-color: #3279b1;
}

#features p {
    padding: 0 20px;
}

#features h1 {
    margin-top: 30px;
    margin-left: -2000px;
}

#features .ui.column {
    margin: 30px 0;
    opacity: 0;
}

@media only screen and (max-width: 480px) {
    #features .ui.column {
        margin: 30px 10px;
    }
}

#features h4 {
    margin-top: 10px;
}

.ui.popup{
    box-shadow: 0px 1px 1px 0px #eee, 0px 0px 0px 1px #eee;
}